
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<main class="main-row" aria-label="Content">
        <div class="page-header" id="page-header">
            <h1>{% if page.layout == 'post' %}news{% else %}{{ page.title | downcase }}{% endif %}</h1>
            <a href="#page-header" onclick="toggleMenu()" class="menu-button">{%- include hamburger-icon.html -%}</a>
            <div class="menu">
                {%- include menu.html -%}
            </div>
        </div>
        <div class="mobile-menu" id="mobile-menu">
            {%- include menu.html -%}
        </div>
        <div class="page-content">
            {{ content }}
        </div>
</main>

<script>
    function toggleMenu(e) {
        document.getElementById('mobile-menu').classList.toggle('visible');
    }
</script>
</body>

